<div class="text-center mt-5">
  <h1 class="mb-4">UST Junior Frontend Project</h1>

  <p class="lead">
    Este proyecto ha sido desarrollado como parte de mi postulación
    para el puesto de <strong>Desarrollador Frontend</strong> en UST referencia RH4185706.
  </p>

  <p>
    La aplicación está construida con <strong>Angular Standalone</strong>,
    JavaScript/TypeScript y Bootstrap, siguiendo buenas prácticas de
    arquitectura frontend, componentes reutilizables y simulación
    de integración con backend.
  </p>

  <p>
    El objetivo es demostrar mi capacidad para traducir maquetas
    a código funcional, construir la capa de presentación y trabajar
    con componentes interactivos orientados al usuario final.
  </p>
  <a href="https://github.com/franciscodominguezpezo" class="btn btn-success" target="_blank">GitHub - Francisco
    Domínguez Pezo</a>

</div>